@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper;
@using Umbraco.Cms.Core
@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Cms.Core.Routing
@using Umbraco.Extensions

@inject IPublishedValueFallback PublishedValueFallback
@inject IPublishedUrlProvider PublishedUrlProvider
@*
    This snippet displays a list of links of the pages immediately under the top-most page in the content tree.
    This is the home page for a standard website.
    It also highlights the current active page/section in the navigation with the CSS class "current".
*@

@{ 
    var selection = Model.Root().Children.Where(x => x.IsVisible(PublishedValueFallback)).ToArray(); 
    
    var rootContents = UmbracoHelper.ContentAtRoot();
    var settings = rootContents?.FirstOrDefault(x => x.ContentType.Alias == "settingsPage") ?? null;

    var siteLogotype = settings?.Value<IPublishedContent>("siteLogotype")?.Url() ?? "";
    var siteName = settings?.Value<string>("siteName") ?? "Onatrix";
}



<header>

     <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
      
       <a class="navbar-brand" href="/"> 
                <img src="@siteLogotype" alt="@siteName"> 
            </a>


      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
        
        @if (selection?.Length > 0)
        {
            <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
                @foreach (var item in selection)
                {
                    <li class="nav-item @(item.IsAncestorOrSelf(Model) ? "current" : null)">
                        <a class="nav-link" href="@item.Url(PublishedUrlProvider)">@item.Name</a>
                    </li>
                }
            </ul>
        }


        <!-- <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->


      </div>
    </div>
  </nav>

   

</header>

 
