@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper;
@using Umbraco.Cms.Core
@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Cms.Core.Routing
@using Umbraco.Extensions

@inject IPublishedValueFallback PublishedValueFallback
@inject IPublishedUrlProvider PublishedUrlProvider

@{ 
    var selection = Model.Root().Children.Where(x => x.IsVisible(PublishedValueFallback)).ToArray(); 
    
    var rootContents = UmbracoHelper.ContentAtRoot();
    var settings = rootContents?.FirstOrDefault(x => x.ContentType.Alias == "settingsPage") ?? null;

    var siteLogotype = settings?.Value<IPublishedContent>("siteLogotype")?.Url() ?? "";
    var siteName = !string.IsNullOrEmpty(settings.Value<string>("siteName")) ? settings.Value<string>("siteName") : "Onatrix";
}



<header>

    <nav class="mainnav">

        <div class="container d-flex align-items-center justify-content-between">

            <a class="mainnav__logo" href="/"> 
                <img src="@siteLogotype" alt="@siteName"> 
            </a>


            <span id="nav-label" hidden>Navigation</span>
            <button id="btnToggle" class="mainnav__open" aria-expanded="false" aria-labelledby="nav-label">
                <span class="hamburger"></span>
            </button>


            <div class="mainnav__menu " role="dialog" aria-labelledby="nav-label">
                @if (selection?.Length > 0)
                {
                    <ul class="mainnav__links">
                        @foreach (var item in selection)
                        {
                            <li class="mainnav__item @(item.IsAncestorOrSelf(Model) ? "active" : null)">
                                <a class="mainnav__link" href="@item.Url(PublishedUrlProvider)">@item.Name</a>
                            </li>
                        }
                    </ul>
                }


                <i class="fa-solid fa-magnifying-glass"></i>

                <div class="mainnav__socialmedia">
                    @await Html.PartialAsync("socialmedia.cshtml")
                </div>

              

            </div>

            

        </div>

       
            

        
        
            


        


        
    </nav>

   

</header>

 
