@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{

    var selection = Umbraco.Content(Guid.Parse("810548e7-7402-4c7e-bc7c-84b84598e777"))
    .ChildrenOfType("projectItemTemplate")
    .Where(x => x.IsVisible()).OrderByDescending(x => x.CreateDate).Take(4).ToList();
}



<div class="recents-projects-aside d-flex flex-column gap-1">

    <h4 class="pb-3">Recent projects</h4>

    @if (selection != null && selection.Any()) 
    {
        @for (int i = 0; i < selection.Count; i++)
        {
            var item = selection[i];
            var pageTitle = item?.Value<string>("pageTitle") ?? "";
            var created = item?.CreateDate.ToString("MMMM dd, yyyy");
            var thumbnail = item?.Value<IPublishedContent>("projectThumbnail")?.Url() ?? "";
           
            <a href="@item.Url()">
                <div class="d-flex gap-2 recent-projects-item">

                

                        <img class="col-5 recent-thumbnail" src="@thumbnail" alt="@pageTitle">

                        <div>
                            <p class="text-s fw-semibold">@pageTitle</p>

                            <div class="d-flex gap-2 align-items-center">
                                <i class="fa-regular fa-calendar-days text-note"></i>
                                <p class="text-s text-note m-0">@created</p>
                            </div>
                            

                        </div>

                    

                </div>

            </a>

            @if (i < selection.Count - 1) // Lägg bara till <hr> om det inte är sista objektet
            {
                <hr >
            }
        }

    }
    



</div>
